In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 10 columns):
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(3), object(5)
memory usage: 2.1+ MB

У нас есть датасет с данными по самоубийствам, с полями:
- Пол
- Возраст
- Количество суицидов
- Население
- Количество суидицов на 100 тысяч людей
- Год
- Human Development Index для года
- ВВП в этот год
- ВВП на душу населения
- классификация поколения

In [4]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
suicides_no,27820.0,2.425744e+02,9.020479e+02,0.000,3.000,25.000,131.000,2.233800e+04
population,27820.0,1.844794e+06,3.911779e+06,278.000,97498.500,430150.000,1486143.250,4.380521e+07
suicides/100k pop,27820.0,1.281610e+01,1.896151e+01,0.000,0.920,5.990,16.620,2.249700e+02
HDI for year,8364.0,7.766011e-01,9.336671e-02,0.483,0.713,0.779,0.855,9.440000e-01
gdp_per_capita ($),27820.0,1.686646e+04,1.888758e+04,251.000,3447.000,9372.000,24874.000,1.263520e+05

у нас очень мало данных для индекса человеческого развития, с пропусками надо бороться. Для HDI я бы предложил следующую стратегию: брать HDI от стран с похожим ВВП на душу населения.

In [5]:
data[data['HDI for year'].isnull() == True]

,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...
27755,female,75+ years,7,318983,2.19,Uzbekistan2009,NaN,"33,689,223,673",1332,Silent
27756,female,35-54 years,65,3263931,1.99,Uzbekistan2009,NaN,"33,689,223,673",1332,Boomers
27757,female,55-74 years,15,1105076,1.36,Uzbekistan2009,NaN,"33,689,223,673",1332,Silent
27758,male,5-14 years,37,2805898,1.32,Uzbekistan2009,NaN,"33,689,223,673",1332,Generation Z
27759,female,5-14 years,18,2678474,0.67,Uzbekistan2009,NaN,"33,689,223,673",1332,Generation Z

Для дальнейщей работы с датасетом я предлагаю разбить country-year на два отдельных признаках: страна и год

In [6]:
def country(col):
    return col[:-4]

def year(col):
    return col[-4:]

data['country'] = data['country-year'].apply(country)
data['year'] = data['country-year'].apply(year)
del(data['country-year'])

In [7]:
hdi = data[data['HDI for year'].isnull() == True]

# Я тут буду получать группы "страна-год" для дальнейщей работы с подстановкой
hdi_groups = []

for key in hdi.groupby(['country', 'year']).groups.keys():
    hdi_groups.append(key)

In [8]:
# Теперь для каждой группы мы проставим gdp_per_capita

hdi_embend = []

for x in hdi_groups:
    new_element = []
    new_element.append(x[0])
    new_element.append(x[1])
    new_element.append(data[(data['country'] == x[0]) & (data['year'] == x[1])]['gdp_per_capita ($)'].iloc[0])
    hdi_embend.append(new_element)
    
hdi_embend

[['Albania', '1987', 796],
 ['Albania', '1988', 769],
 ['Albania', '1989', 833],
 ['Albania', '1992', 251],
 ['Albania', '1993', 437],
 ['Albania', '1994', 697],
 ['Albania', '1996', 1127],
 ['Albania', '1997', 793],
 ['Albania', '1998', 899],
 ['Albania', '1999', 1127],
 ['Albania', '2001', 1451],
 ['Albania', '2002', 1573],
 ['Albania', '2003', 2021],
 ['Albania', '2004', 2544],
 ['Albania', '2006', 3235],
 ['Albania', '2007', 3863],
 ['Albania', '2008', 4672],
 ['Albania', '2009', 4387],
 ['Antigua and Barbuda', '1985', 3850],
 ['Antigua and Barbuda', '1986', 4740],
 ['Antigua and Barbuda', '1987', 5595],
 ['Antigua and Barbuda', '1988', 6693],
 ['Antigua and Barbuda', '1989', 7407],
 ['Antigua and Barbuda', '1990', 7744],
 ['Antigua and Barbuda', '1991', 7976],
 ['Antigua and Barbuda', '1992', 8087],
 ['Antigua and Barbuda', '1993', 8453],
 ['Antigua and Barbuda', '1994', 9062],
 ['Antigua and Barbuda', '1995', 8636],
 ['Antigua and Barbuda', '1998', 10078],
 ['Antigua and Barbuda', '1999', 10378],
 ['Antigua and Barbuda', '2000', 11021],
 ['Antigua and Barbuda', '2001', 10468],
 ['Antigua and Barbuda', '2002', 10499],
 ['Antigua and Barbuda', '2003', 10878],
 ['Antigua and Barbuda', '2004', 11535],
 ['Antigua and Barbuda', '2005', 12649],
 ['Antigua and Barbuda', '2006', 14114],
 ['Antigua and Barbuda', '2007', 15775],
 ['Antigua and Barbuda', '2008', 16238],
 ['Antigua and Barbuda', '2009', 14335],
 ['Antigua and Barbuda', '2015', 14853],
 ['Argentina', '1986', 4072],
 ['Argentina', '1987', 4026],
 ['Argentina', '1988', 4458],
 ['Argentina', '1989', 2670],
 ['Argentina', '1991', 6404],
 ['Argentina', '1992', 7615],
 ['Argentina', '1993', 7768],
 ['Argentina', '1994', 8328],
 ['Argentina', '1996', 8563],
 ['Argentina', '1997', 9057],
 ['Argentina', '1998', 9126],
 ['Argentina', '1999', 8546],
 ['Argentina', '2001', 7900],
 ['Argentina', '2002', 2840],
 ['Argentina', '2003', 3668],
 ['Argentina', '2004', 4683],
 ['Argentina', '2006', 6475],
 ['Argentina', '2007', 7918],
 ['Argentina', '2008', 9843],
 ['Argentina', '2009', 8961],
 ['Argentina', '2015', 14981],
 ['Armenia', '1991', 640],
 ['Armenia', '1992', 385],
 ['Armenia', '1993', 357],
 ['Armenia', '1994', 387],
 ['Armenia', '1996', 458],
 ['Armenia', '1997', 465],
 ['Armenia', '1998', 532],
 ['Armenia', '1999', 515],
 ['Armenia', '2001', 587],
 ['Armenia', '2002', 788],
 ['Armenia', '2003', 928],
 ['Armenia', '2006', 2310],
 ['Armenia', '2007', 3366],
 ['Armenia', '2008', 3829],
 ['Armenia', '2009', 3215],
 ['Armenia', '2015', 3775],
 ['Armenia', '2016', 3788],
 ['Aruba', '1995', 17949],
 ['Aruba', '1999', 21027],
 ['Aruba', '2000', 22333],
 ['Aruba', '2001', 22317],
 ['Aruba', '2002', 21987],
 ['Aruba', '2003', 22345],
 ['Aruba', '2004', 24133],
 ['Aruba', '2005', 24870],
 ['Aruba', '2006', 25622],
 ['Aruba', '2007', 27672],
 ['Aruba', '2008', 29447],
 ['Aruba', '2009', 26361],
 ['Aruba', '2010', 25974],
 ['Aruba', '2011', 27066],
 ['Australia', '1985', 12374],
 ['Australia', '1986', 12288],
 ['Australia', '1987', 12564],
 ['Australia', '1988', 15393],
 ['Australia', '1989', 19223],
 ['Australia', '1991', 20320],
 ['Australia', '1992', 20050],
 ['Australia', '1993', 19030],
 ['Australia', '1994', 19469],
 ['Australia', '1996', 23526],
 ['Australia', '1997', 25234],
 ['Australia', '1998', 22897],
 ['Australia', '1999', 22016],
 ['Australia', '2001', 20860],
 ['Australia', '2002', 21474],
 ['Australia', '2003', 25059],
 ['Australia', '2004', 32454],
 ['Australia', '2006', 39014],
 ['Australia', '2007', 43171],
 ['Australia', '2008', 52315],
 ['Australia', '2009', 45128],
 ['Australia', '2015', 60656],
 ['Austria', '1986', 13911],
 ['Austria', '1987', 17415],
 ['Austria', '1988', 18663],
 ['Austria', '1989', 18544],
 ['Austria', '1991', 23808],
 ['Austria', '1992', 26450],
 ['Austria', '1993', 25611],
 ['Austria', '1994', 27274],
 ['Austria', '1996', 31660],
 ['Austria', '1997', 28325],
 ['Austria', '1998', 28972],
 ['Austria', '1999', 28722],
 ['Austria', '2001', 25848],
 ['Austria', '2002', 27772],
 ['Austria', '2003', 33889],
 ['Austria', '2004', 38711],
 ['Austria', '2006', 42698],
 ['Austria', '2007', 49218],
 ['Austria', '2008', 54294],
 ['Austria', '2009', 50356],
 ['Austria', '2015', 46484],
 ['Austria', '2016', 46976],
 ['Azerbaijan', '1990', 1439],
 ['Azerbaijan', '1991', 1398],
 ['Azerbaijan', '1992', 784],
 ['Azerbaijan', '1993', 617],
 ['Azerbaijan', '1994', 508],
 ['Azerbaijan', '1996', 476],
 ['Azerbaijan', '1997', 590],
 ['Azerbaijan', '1998', 631],
 ['Azerbaijan', '1999', 645],
 ['Azerbaijan', '2001', 759],
 ['Azerbaijan', '2002', 820],
 ['Azerbaijan', '2003', 948],
 ['Azerbaijan', '2004', 1122],
 ['Azerbaijan', '2007', 4172],
 ['Bahamas', '1985', 11393],
 ['Bahamas', '1987', 12286],
 ['Bahamas', '1993', 12698],
 ['Bahamas', '1994', 13073],
 ['Bahamas', '1995', 13473],
 ['Bahamas', '1996', 14297],
 ['Bahamas', '1997', 24740],
 ['Bahamas', '1998', 26269],
 ['Bahamas', '1999', 29019],
 ['Bahamas', '2001', 30122],
 ['Bahamas', '2002', 31432],
 ['Bahamas', '2003', 30704],
 ['Bahamas', '2004', 30671],
 ['Bahamas', '2006', 32957],
 ['Bahamas', '2007', 33710],
 ['Bahamas', '2008', 32746],
 ['Bahamas', '2009', 30450],
 ['Bahrain', '1987', 9321],
 ['Bahrain', '1988', 9501],
 ['Bahrain', '1997', 11985],
 ['Bahrain', '1998', 11325],
 ['Bahrain', '1999', 11703],
 ['Bahrain', '2001', 14383],
 ['Bahrain', '2002', 14572],
 ['Bahrain', '2003', 15756],
 ['Bahrain', '2004', 17497],
 ['Bahrain', '2006', 20826],
 ['Bahrain', '2007', 22524],
 ['Bahrain', '2008', 25106],
 ['Bahrain', '2009', 20988],
 ['Barbados', '1986', 6720],
 ['Barbados', '1987', 7333],
 ['Barbados', '1988', 7763],
 ['Barbados', '1989', 8541],
 ['Barbados', '1991', 8469],
 ['Barbados', '1992', 8129],
 ['Barbados', '1993', 8540],
 ['Barbados', '1994', 8953],
 ['Barbados', '2001', 12348],
 ['Barbados', '2002', 12511],
 ['Barbados', '2003', 12887],
 ['Barbados', '2004', 13786],
 ['Barbados', '2006', 16531],
 ['Barbados', '2007', 17528],
 ['Barbados', '2008', 17760],
 ['Barbados', '2009', 17007],
 ['Belarus', '1990', 2301],
 ['Belarus', '1991', 1899],
 ['Belarus', '1992', 1780],
 ['Belarus', '1993', 1689],
 ['Belarus', '1994', 1547],
 ['Belarus', '1995', 1444],
 ['Belarus', '1996', 1524],
 ['Belarus', '1997', 1458],
 ['Belarus', '1998', 1570],
 ['Belarus', '1999', 1269],
 ['Belarus', '2001', 1299],
 ['Belarus', '2002', 1541],
 ['Belarus', '2003', 1892],
 ['Belarus', '2007', 4898],
 ['Belarus', '2008', 6601],
 ['Belarus', '2009', 5366],
 ['Belgium', '1986', 12992],
 ['Belgium', '1987', 16165],
 ['Belgium', '1988', 17509],
 ['Belgium', '1989', 17659],
 ['Belgium', '1991', 22523],
 ['Belgium', '1992', 25036],
 ['Belgium', '1993', 23875],
 ['Belgium', '1994', 25922],
 ['Belgium', '1996', 29438],
 ['Belgium', '1997', 26609],
 ['Belgium', '1998', 27087],
 ['Belgium', '1999', 26969],
 ['Belgium', '2001', 24494],
 ['Belgium', '2002', 26526],
 ['Belgium', '2003', 32538],
 ['Belgium', '2004', 37661],
 ['Belgium', '2006', 41135],
 ['Belgium', '2007', 47040],
 ['Belgium', '2008', 51345],
 ['Belgium', '2009', 47630],
 ['Belgium', '2015', 42830],
 ['Belize', '1986', 1552],
 ['Belize', '1987', 1920],
 ['Belize', '1989', 2372],
 ['Belize', '1991', 2742],
 ['Belize', '1993', 3278],
 ['Belize', '1994', 3399],
 ['Belize', '1996', 3545],
 ['Belize', '1997', 3487],
 ['Belize', '1998', 3531],
 ['Belize', '1999', 3615],
 ['Belize', '2001', 4013],
 ['Belize', '2002', 4161],
 ['Belize', '2003', 4289],
 ['Belize', '2004', 4449],
 ['Belize', '2006', 4815],
 ['Belize', '2007', 4951],
 ['Belize', '2008', 5098],
 ['Belize', '2009', 4841],
 ['Belize', '2015', 5561],
 ['Brazil', '1986', 2257],
 ['Brazil', '1987', 2394],
 ['Brazil', '1988', 2628],
 ['Brazil', '1989', 3310],
 ['Brazil', '1991', 4490],
 ['Brazil', '1992', 2924],
 ['Brazil', '1993', 3136],
 ['Brazil', '1994', 3925],
 ['Brazil', '1996', 5771],
 ['Brazil', '1997', 5891],
 ['Brazil', '1998', 5663],
 ['Brazil', '1999', 3864],
 ['Brazil', '2001', 3492],
 ['Brazil', '2002', 3121],
 ['Brazil', '2003', 3376],
 ['Brazil', '2004', 3984],
 ['Brazil', '2006', 6403],
 ['Brazil', '2007', 7970],
 ['Brazil', '2008', 9555],
 ['Brazil', '2009', 9283],
 ['Brazil', '2015', 9431],
 ['Bulgaria', '1986', 2413],
 ['Bulgaria', '1987', 3355],
 ['Bulgaria', '1988', 2688],
 ['Bulgaria', '1989', 2617],
 ['Bulgaria', '1991', 1298],
 ['Bulgaria', '1992', 1287],
 ['Bulgaria', '1993', 1354],
 ['Bulgaria', '1994', 1213],
 ['Bulgaria', '1996', 1270],
 ['Bulgaria', '1997', 1411],
 ['Bulgaria', '1998', 1852],
 ['Bulgaria', '1999', 1715],
 ['Bulgaria', '2001', 1854],
 ['Bulgaria', '2002', 2157],
 ['Bulgaria', '2003', 2800],
 ['Bulgaria', '2004', 3485],
 ['Bulgaria', '2006', 4638],
 ['Bulgaria', '2007', 6073],
 ['Bulgaria', '2008', 7487],
 ['Bulgaria', '2009', 7186],
 ['Cabo Verde', '2011', 4124],
 ['Canada', '1986', 16062],
 ['Canada', '1987', 18124],
 ['Canada', '1988', 21069],
 ['Canada', '1989', 23188],
 ['Canada', '1991', 24038],
 ['Canada', '1992', 22393],
 ['Canada', '1993', 21421],
 ['Canada', '1994', 21219],
 ['Canada', '1996', 22686],
 ['Canada', '1997', 23245],
 ['Canada', '1998', 22268],
 ['Canada', '1999', 23572],
 ['Canada', '2001', 25165],
 ['Canada', '2002', 25570],
 ['Canada', '2003', 29787],
 ['Canada', '2004', 33787],
 ['Canada', '2006', 42566],
 ['Canada', '2007', 46890],
 ['Canada', '2008', 49041],
 ['Canada', '2009', 42933],
 ['Chile', '1986', 1728],
 ['Chile', '1987', 1985],
 ['Chile', '1988', 2303],
 ['Chile', '1989', 2599],
 ['Chile', '1991', 3187],
 ['Chile', '1992', 3791],
 ['Chile', '1993', 4006],
 ['Chile', '1994', 4551],
 ['Chile', '1996', 5946],
 ['Chile', '1997', 6368],
 ['Chile', '1998', 6023],
 ['Chile', '1999', 5470],
 ['Chile', '2001', 5020],
 ['Chile', '2002', 4866],
 ['Chile', '2003', 5208],
 ['Chile', '2004', 6744],
 ['Chile', '2006', 10270],
 ['Chile', '2007', 11387],
 ['Chile', '2008', 11653],
 ['Chile', '2009', 11062],
 ['Chile', '2015', 14729],
 ['Colombia', '1986', 1366],
 ['Colombia', '1987', 1299],
 ['Colombia', '1988', 1369],
 ['Colombia', '1989', 1350],
 ['Colombia', '1991', 1348],
 ['Colombia', '1992', 1664],
 ['Colombia', '1993', 1845],
 ['Colombia', '1994', 2646],
 ['Colombia', '1996', 2883],
 ['Colombia', '1997', 3106],
 ['Colombia', '1998', 2814],
 ['Colombia', '1999', 2419],
 ['Colombia', '2001', 2662],
 ['Colombia', '2002', 2613],
 ['Colombia', '2003', 2489],
 ['Colombia', '2004', 3033],
 ['Colombia', '2006', 4095],
 ['Colombia', '2007', 5150],
 ['Colombia', '2008', 5971],
 ['Colombia', '2009', 5643],
 ['Colombia', '2015', 6552],
 ['Costa Rica', '1986', 2389],
 ['Costa Rica', '1987', 2433],
 ['Costa Rica', '1988', 2460],
 ['Costa Rica', '1989', 2686],
 ['Costa Rica', '1991', 2651],
 ['Costa Rica', '1992', 3070],
 ['Costa Rica', '1993', 3342],
 ['Costa Rica', '1994', 3562],
 ['Costa Rica', '1996', 3639],
 ['Costa Rica', '1997', 3827],
 ['Costa Rica', '1998', 4046],
 ['Costa Rica', '1999', 4115],
 ['Costa Rica', '2001', 4412],
 ['Costa Rica', '2002', 4485],
 ['Costa Rica', '2003', 4583],
 ['Costa Rica', '2004', 4850],
 ['Costa Rica', '2006', 5716],
 ['Costa Rica', '2007', 6661],
 ['Costa Rica', '2008', 7517],
 ['Costa Rica', '2009', 7403],
 ['Croatia', '1996', 5610],
 ['Croatia', '1997', 5546],
 ['Croatia', '1998', 6015],
 ['Croatia', '1999', 5459],
 ['Croatia', '2001', 5571],
 ['Croatia', '2002', 6373],
 ['Croatia', '2003', 8202],
 ['Croatia', '2004', 9829],
 ['Croatia', '2006', 11914],
 ['Croatia', '2007', 14204],
 ['Croatia', '2008', 16680],
 ['Croatia', '2009', 14872],
 ['Croatia', '2015', 12351],
 ['Croatia', '2016', 12905],
 ['Cuba', '1992', 2227],
 ['Cuba', '1993', 2236],
 ['Cuba', '1994', 2820],
 ['Cuba', '1996', 2443],
 ['Cuba', '1997', 2472],
 ['Cuba', '1998', 2497],
 ['Cuba', '1999', 2741],
 ['Cuba', '2001', 3037],
 ['Cuba', '2002', 3205],
 ['Cuba', '2003', 3409],
 ['Cuba', '2004', 3611],
 ['Cuba', '2006', 4951],
 ['Cuba', '2007', 5488],
 ['Cuba', '2008', 5686],
 ['Cuba', '2009', 5797],
 ['Cuba', '2015', 8044],
 ['Cyprus', '1999', 12389],
 ['Cyprus', '2004', 25227],
 ['Cyprus', '2006', 28600],
 ['Cyprus', '2007', 33048],
 ['Cyprus', '2008', 37267],
 ['Cyprus', '2009', 33816],
 ['Cyprus', '2015', 24718],
 ['Cyprus', '2016', 25098],
 ['Czech Republic', '1991', 3070],
 ['Czech Republic', '1992', 3573],
 ['Czech Republic', '1993', 4186],
 ['Czech Republic', '1994', 4891],
 ['Czech Republic', '1996', 6861],
 ['Czech Republic', '1997', 6314],
 ['Czech Republic', '1998', 6779],
 ['Czech Republic', '1999', 6606],
 ['Czech Republic', '2001', 6863],
 ['Czech Republic', '2002', 8399],
 ['Czech Republic', '2003', 10220],
 ['Czech Republic', '2004', 12226],
 ['Czech Republic', '2006', 15896],
 ['Czech Republic', '2007', 19273],
 ['Czech Republic', '2008', 23811],
 ['Czech Republic', '2009', 20748],
 ['Czech Republic', '2015', 18703],
 ['Czech Republic', '2016', 19505],
 ['Denmark', '1994', 32034],
 ['Denmark', '1996', 38158],
 ['Denmark', '1997', 35148],
 ['Denmark', '1998', 35710],
 ['Denmark', '1999', 35763],
 ['Denmark', '2001', 32837],
 ['Denmark', '2002', 35435],
 ['Denmark', '2003', 43129],
 ['Denmark', '2004', 49552],
 ['Denmark', '2006', 55354],
 ['Denmark', '2007', 62229],
 ['Denmark', '2008', 68447],
 ['Denmark', '2009', 61863],
 ['Denmark', '2015', 55972],
 ['Dominica', '1985', 1485],
 ['Ecuador', '1986', 1943],
 ['Ecuador', '1987', 1669],
 ['Ecuador', '1988', 1519],
 ['Ecuador', '1989', 1619],
 ['Ecuador', '1991', 1869],
 ['Ecuador', '1992', 1955],
 ['Ecuador', '1993', 1996],
 ['Ecuador', '1994', 2335],
 ['Ecuador', '1996', 2474],
 ['Ecuador', '1997', 2701],
 ['Ecuador', '1998', 2626],
 ['Ecuador', '1999', 1805],
 ['Ecuador', '2001', 2160],
 ['Ecuador', '2002', 2472],
 ['Ecuador', '2003', 2755],
 ['Ecuador', '2004', 3051],
 ['Ecuador', '2006', 3759],
 ['Ecuador', '2007', 4024],
 ['Ecuador', '2008', 4787],
 ['Ecuador', '2009', 4762],
 ['Ecuador', '2015', 6832],
 ['El Salvador', '1991', 1148],
 ['El Salvador', '1992', 1266],
 ['El Salvador', '1993', 1423],
 ['El Salvador', '1996', 1959],
 ['El Salvador', '1997', 2065],
 ['El Salvador', '1998', 2185],
 ['El Salvador', '1999', 2229],
 ['El Salvador', '2001', 2373],
 ['El Salvador', '2002', 2421],
 ['El Salvador', '2003', 2507],
 ['El Salvador', '2004', 2573],
 ['El Salvador', '2006', 2947],
 ['El Salvador', '2007', 3111],
 ['El Salvador', '2008', 3271],
 ['El Salvador', '2009', 3184],
 ['Estonia', '1996', 3536],
 ['Estonia', '1997', 3806],
 ['Estonia', '1998', 4250],
 ['Estonia', '1999', 4361],
 ['Estonia', '2001', 4711],
 ['Estonia', '2002', 5561],
 ['Estonia', '2003', 7523],
 ['Estonia', '2004', 9293],
 ['Estonia', '2006', 13264],
 ['Estonia', '2007', 17504],
 ['Estonia', '2008', 19141],
 ['Estonia', '2009', 15609],
 ['Estonia', '2015', 18149],
 ['Fiji', '2001', 2307],
 ['Fiji', '2002', 2548],
 ['Fiji', '2003', 3192],
 ['Fiji', '2004', 3744],
 ['Fiji', '2006', 4206],
 ['Fiji', '2007', 4570],
 ['Fiji', '2008', 4675],
 ['Fiji', '2009', 3765],
 ['Finland', '1987', 19861],
 ['Finland', '1988', 23546],
 ['Finland', '1989', 25582],
 ['Finland', '1991', 27214],
 ['Finland', '1992', 23857],
 ['Finland', '1993', 18826],
 ['Finland', '1994', 21699],
 ['Finland', '1996', 27508],
 ['Finland', '1997', 26296],
 ['Finland', '1998', 27646],
 ['Finland', '1999', 27800],
 ['Finland', '2001', 26383],
 ['Finland', '2002', 28390],
 ['Finland', '2003', 34701],
 ['Finland', '2004', 39793],
 ['Finland', '2006', 43487],
 ['Finland', '2007', 51089],
 ['Finland', '2008', 56521],
 ['Finland', '2009', 49878],
 ['Finland', '2015', 44862],
 ['France', '1986', 14940],
 ['France', '1987', 17999],
 ['France', '1988', 19534],
 ['France', '1989', 19558],
 ['France', '1991', 23821],
 ['France', '1992', 26136],
 ['France', '1993', 24521],
 ['France', '1994', 25697],
 ['France', '1996', 29305],
 ['France', '1997', 26394],
 ['France', '1998', 27190],
 ['France', '1999', 27118],
 ['France', '2001', 24796],
 ['France', '2002', 26714],
 ['France', '2003', 32656],
 ['France', '2004', 37240],
 ['France', '2006', 40097],
 ['France', '2007', 45682],
 ['France', '2008', 49901],
 ['France', '2009', 45775],
 ['Georgia', '1990', 1555],
 ['Georgia', '1991', 1267],
 ['Georgia', '1992', 740],
 ['Georgia', '1994', 556],
 ['Georgia', '1995', 611],
 ['Georgia', '1996', 718],
 ['Georgia', '1997', 828],
 ['Georgia', '1998', 858],
 ['Georgia', '1999', 669],
 ['Georgia', '2001', 777],
 ['Georgia', '2004', 1253],
 ['Georgia', '2006', 1859],
 ['Georgia', '2007', 2448],
 ['Georgia', '2009', 2589],
 ['Georgia', '2015', 4046],
 ['Germany', '1991', 24662],
 ['Germany', '1992', 27888],
 ['Germany', '1993', 26937],
 ['Germany', '1994', 28588],
 ['Germany', '1996', 32147],
 ['Germany', '1997', 28420],
 ['Germany', '1998', 28733],
 ['Germany', '1999', 28154],
 ['Germany', '2001', 24874],
 ['Germany', '2002', 26441],
 ['Germany', '2003', 31816],
 ['Germany', '2004', 35772],
 ['Germany', '2006', 38088],
 ['Germany', '2007', 43667],
 ['Germany', '2008', 47702],
 ['Germany', '2009', 43570],
 ['Germany', '2015', 43201],
 ['Greece', '1986', 6040],
 ['Greece', '1987', 6994],
 ['Greece', '1988', 8070],
 ['Greece', '1989', 8310],
 ['Greece', '1991', 10816],
 ['Greece', '1992', 11818],
 ['Greece', '1993', 10957],
 ['Greece', '1994', 11638],
 ['Greece', '1996', 14330],
 ['Greece', '1997', 13968],
 ['Greece', '1998', 14008],
 ['Greece', '1999', 13756],
 ['Greece', '2001', 13043],
 ['Greece', '2002', 14676],
 ['Greece', '2003', 19202],
 ['Greece', '2004', 22804],
 ['Greece', '2006', 25739],
 ['Greece', '2007', 29896],
 ['Greece', '2008', 33168],
 ['Greece', '2009', 30785],
 ['Greece', '2015', 18927],
 ['Grenada', '1985', 1965],
 ['Grenada', '1988', 2707],
 ['Grenada', '1989', 3268],
 ['Grenada', '1990', 3391],
 ['Grenada', '1991', 3650],
 ['Grenada', '1992', 3713],
 ['Grenada', '1993', 3632],
 ['Grenada', '1994', 3735],
 ['Grenada', '1995', 3869],
 ['Grenada', '1996', 4087],
 ['Grenada', '2001', 5693],
 ['Grenada', '2002', 5879],
 ['Grenada', '2003', 6385],
 ['Grenada', '2004', 6428],
 ['Grenada', '2005', 7422],
 ['Grenada', '2006', 7423],
 ['Grenada', '2007', 8035],
 ['Grenada', '2008', 8733],
 ['Grenada', '2009', 8140],
 ['Grenada', '2015', 10290],
 ['Grenada', '2016', 10838],
 ['Guatemala', '1986', 1044],
 ['Guatemala', '1987', 997],
 ['Guatemala', '1988', 1074],
 ['Guatemala', '1989', 1122],
 ['Guatemala', '1991', 1194],
 ['Guatemala', '1992', 1294],
 ['Guatemala', '1993', 1381],
 ['Guatemala', '1994', 1538],
 ['Guatemala', '1996', 1775],
 ['Guatemala', '1997', 1967],
 ['Guatemala', '1998', 2091],
 ['Guatemala', '1999', 1926],
 ['Guatemala', '2001', 1867],
 ['Guatemala', '2002', 2022],
 ['Guatemala', '2003', 2079],
 ['Guatemala', '2004', 2215],
 ['Guatemala', '2006', 2653],
 ['Guatemala', '2007', 2914],
 ['Guatemala', '2008', 3252],
 ['Guatemala', '2009', 3053],
 ['Guatemala', '2015', 4472],
 ['Guyana', '1988', 632],
 ['Guyana', '1989', 581],
 ['Guyana', '1991', 514],
 ['Guyana', '1992', 561],
 ['Guyana', '1993', 671],
 ['Guyana', '1994', 819],
 ['Guyana', '1996', 1070],
 ['Guyana', '1997', 1139],
 ['Guyana', '1998', 1092],
 ['Guyana', '1999', 1057],
 ['Guyana', '2001', 1054],
 ['Guyana', '2002', 1090],
 ['Guyana', '2003', 1116],
 ['Guyana', '2004', 1180],
 ['Guyana', '2006', 2182],
 ['Guyana', '2007', 2602],
 ['Guyana', '2008', 2873],
 ['Guyana', '2009', 3076],
 ['Hungary', '1991', 3561],
 ['Hungary', '1992', 3970],
 ['Hungary', '1993', 4116],
 ['Hungary', '1994', 4431],
 ['Hungary', '1996', 4792],
 ['Hungary', '1997', 4856],
 ['Hungary', '1998', 5010],
 ['Hungary', '1999', 5147],
 ['Hungary', '2001', 5546],
 ['Hungary', '2002', 6995],
 ['Hungary', '2003', 8840],
 ['Hungary', '2004', 10806],
 ['Hungary', '2006', 12021],
 ['Hungary', '2007', 14609],
 ['Hungary', '2008', 16540],
 ['Hungary', '2009', 13697],
 ['Hungary', '2015', 13087],
 ['Hungary', '2016', 13448],
 ['Iceland', '1986', 17681],
 ['Iceland', '1987', 24107],
 ['Iceland', '1988', 26249],
 ['Iceland', '1989', 24089],
 ['Iceland', '1991', 28857],
 ['Iceland', '1992', 29311],
 ['Iceland', '1993', 25474],
 ['Iceland', '1994', 25937],
 ['Iceland', '1996', 29740],
 ['Iceland', '1997', 30326],

In [9]:
# найдем все группы HDI - ВВП на душу населения

hdi = data[data['HDI for year'].isnull() == False].groupby('gdp_per_capita ($)').groups.keys()
hdi = list(hdi)

In [10]:
# теперь напишем функцию, которая находит ближайщее число

def close_number(num):
    global hdi
    
    last = hdi[0]
    
    for x in hdi:
        if num < x:
            if (x - num) > (num - last):
                return last
            else:
                return x
        
        if num == x:
            return num
        
        last = x

In [11]:
# почти все готово для закрытия пропусков в HDI

def fill_hdi(row):
    global data
    if row['HDI for year'] != row['HDI for year']:
        close = close_number(row['gdp_per_capita ($)'])
        row['HDI for year'] = data[(data['gdp_per_capita ($)'] == close) & (data['HDI for year'].isnull() == False)]['HDI for year'].iloc[0] 
    
    return row

data = data.apply(fill_hdi, axis=1)

In [21]:
data

,sex,age,suicides_no,population,suicides/100k pop,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,country,year
0,male,15-24 years,21,312900,6.71,0.619,"2,156,624,900",796,Generation X,Albania,1987
1,male,35-54 years,16,308000,5.19,0.619,"2,156,624,900",796,Silent,Albania,1987
2,female,15-24 years,14,289700,4.83,0.619,"2,156,624,900",796,Generation X,Albania,1987
3,male,75+ years,1,21800,4.59,0.619,"2,156,624,900",796,G.I. Generation,Albania,1987
4,male,25-34 years,9,274300,3.28,0.619,"2,156,624,900",796,Boomers,Albania,1987
...,...,...,...,...,...,...,...,...,...,...,...
27815,female,35-54 years,107,3620833,2.96,0.675,"63,067,077,179",2309,Generation X,Uzbekistan,2014
27816,female,75+ years,9,348465,2.58,0.675,"63,067,077,179",2309,Silent,Uzbekistan,2014
27817,male,5-14 years,60,2762158,2.17,0.675,"63,067,077,179",2309,Generation Z,Uzbekistan,2014
27818,female,5-14 years,44,2631600,1.67,0.675,"63,067,077,179",2309,Generation Z,Uzbekistan,2014
27819,female,55-74 years,21,1438935,1.46,0.675,"63,067,077,179",2309,Boomers,Uzbekistan,2014

In [22]:
# save data очень долго считается дата в предыдущем пункте
save_data = data.copy()

Проверим есть ли еще где-то пропуски

In [13]:
save_data[save_data['generation'].isnull() == True]

Empty DataFrame
Columns: [sex, age, suicides_no, population, suicides/100k pop, HDI for year,  gdp_for_year ($) , gdp_per_capita ($), generation, country, year]
Index: []

Других пропусков нет

In [23]:
save_data

,sex,age,suicides_no,population,suicides/100k pop,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,country,year
0,male,15-24 years,21,312900,6.71,0.619,"2,156,624,900",796,Generation X,Albania,1987
1,male,35-54 years,16,308000,5.19,0.619,"2,156,624,900",796,Silent,Albania,1987
2,female,15-24 years,14,289700,4.83,0.619,"2,156,624,900",796,Generation X,Albania,1987
3,male,75+ years,1,21800,4.59,0.619,"2,156,624,900",796,G.I. Generation,Albania,1987
4,male,25-34 years,9,274300,3.28,0.619,"2,156,624,900",796,Boomers,Albania,1987
...,...,...,...,...,...,...,...,...,...,...,...
27815,female,35-54 years,107,3620833,2.96,0.675,"63,067,077,179",2309,Generation X,Uzbekistan,2014
27816,female,75+ years,9,348465,2.58,0.675,"63,067,077,179",2309,Silent,Uzbekistan,2014
27817,male,5-14 years,60,2762158,2.17,0.675,"63,067,077,179",2309,Generation Z,Uzbekistan,2014
27818,female,5-14 years,44,2631600,1.67,0.675,"63,067,077,179",2309,Generation Z,Uzbekistan,2014
27819,female,55-74 years,21,1438935,1.46,0.675,"63,067,077,179",2309,Boomers,Uzbekistan,2014

# Работаем с категориальными данными

Данные пола можно преобразовать в ноль или единица (единица - мужчины, нет, я не сексист)

In [24]:
def male(sex):
    if sex == 'male':
        return 1
    else:
        return 0
    
save_data['sex'] = save_data['sex'].apply(male)

Возраст заменив цифрами - средним в интервале

In [15]:
save_data['age'].value_counts()

25-34 years    4642
55-74 years    4642
15-24 years    4642
35-54 years    4642
75+ years      4642
5-14 years     4610
Name: age, dtype: int64

In [25]:
def age(a):
    gr = {'5-14 years': 10, '15-24 years': 20, '25-34 years': 30, '35-54 years': 45, '55-74 years': 65, '75+ years': 80}
    
    return gr[a]

save_data['age'] = save_data['age'].apply(age)

In [17]:
save_data['generation'].value_counts()

Generation X       6408
Silent             6364
Millenials         5844
Boomers            4990
G.I. Generation    2744
Generation Z       1470
Name: generation, dtype: int64

Признаков поколений немного, давайте ohe-hot-encoding

In [27]:
def ohe(row):
    gens = ['Generation X', 'Silent', 'Millenials', 'Boomers', 'G.I. Generation', 'Generation Z']
    
    for x in gens:
        if x == row['generation']:
            row[x] = 1
        else:
            row[x] = 0
    
    del(row['generation'])
    
    return row

save_data = save_data.apply(ohe, axis = 1)

In [28]:
save_data

,sex,age,suicides_no,population,suicides/100k pop,HDI for year,gdp_for_year ($),gdp_per_capita ($),country,year,Generation X,Silent,Millenials,Boomers,G.I. Generation,Generation Z
0,1,20,21,312900,6.71,0.619,"2,156,624,900",796,Albania,1987,1,0,0,0,0,0
1,1,45,16,308000,5.19,0.619,"2,156,624,900",796,Albania,1987,0,1,0,0,0,0
2,0,20,14,289700,4.83,0.619,"2,156,624,900",796,Albania,1987,1,0,0,0,0,0
3,1,80,1,21800,4.59,0.619,"2,156,624,900",796,Albania,1987,0,0,0,0,1,0
4,1,30,9,274300,3.28,0.619,"2,156,624,900",796,Albania,1987,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27815,0,45,107,3620833,2.96,0.675,"63,067,077,179",2309,Uzbekistan,2014,1,0,0,0,0,0
27816,0,80,9,348465,2.58,0.675,"63,067,077,179",2309,Uzbekistan,2014,0,1,0,0,0,0
27817,1,10,60,2762158,2.17,0.675,"63,067,077,179",2309,Uzbekistan,2014,0,0,0,0,0,1
27818,0,10,44,2631600,1.67,0.675,"63,067,077,179",2309,Uzbekistan,2014,0,0,0,0,0,1
27819,0,65,21,1438935,1.46,0.675,"63,067,077,179",2309,Uzbekistan,2014,0,0,0,1,0,0

Что еще нужно сделать, но я не успеваю:
- ванхоткоднуть страны
- нормализовать года: 1 самый ранний и до последнего (так коэффициент будет более "целым" :)

# Выкидываем данные

Есть ряд однозначных кандидатур на удаление из датасета до выяснения корреляций и т.п.

Количество судицидов и популуция уже заложены в целевом признаке, они нам не нужны

Т.к. я не успеваю обработать страну, то выкину ее из дата сета (сорян, страна)

И вероятно надо выкинуть ВВП за год, на душу населения будет получше, но дадим шанс

In [34]:
ProfileReport(save_data)

NameError: name 'ProfileReport' is not defined